!!!
%html
  %head
    %title Vanjari Samaaj
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar
      .container
        .logo= image_tag("VSM_logo.jpg", width: '100%', height: '100%', alt: "Logo")

    .col-lg-9
      = bootstrap_flash
      = yield
      %footer
        %p &copy; Company 2014
	