!!!
%html
  %head
    %title Vanjari Samaaj
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar
      .container
        - case params['path'].to_i
        - when 4
          .logo= image_tag("matrimony image4.jpeg", width: '100%', height: '100%')
        - when 5
          .logo= image_tag("matrimony image5.jpeg", width: '100%', height: '100%')
        - when 7
          .logo= image_tag("matrimony image7.jpeg", width: '100%', height: '100%')
        - else
          .logo= image_tag("matrimony image8.jpeg", width: '100%', height: '100%')

    .navbar.navbar-static-top
      .container
        .sub-container
          %a.navbar-brand(href="#") Vanjarisamaaj
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-collapse.collapse.navbar-responsive-collapse
            .row
              .col-md-14
                .bs-example{"data-example-id" =>"btn-tags"}
                  = link_to "Link 1", "?path=4", class: 'btn btn-default nav-link'
                  = link_to "Link 2", "?path=5", class: 'btn btn-default nav-link'
                  = link_to "Link 3", "?path=7", class: 'btn btn-default nav-link'

            .col-lg-9
              = bootstrap_flash
              = yield
          %footer
            %p &copy; Company 2014
